.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
BigDataDTO/.classpath
BigDataDTO/.settings/org.eclipse.wst.common.project.facet.core.xml
BigDataEAR/.settings/org.eclipse.wst.common.project.facet.core.xml
BigDataEjb/.classpath
BigDataEjb/.settings/org.eclipse.wst.common.project.facet.core.xml
BigDataEjb/build/
BigDataWeb/.classpath
BigDataWeb/.settings/
RemoteSystemsTempFiles/
BigDataWeb/WebContent/WEB-INF/classes/.gitignore
BigDataWeb/WebContent/WEB-INF/classes/it/bigdata/web/mb/OlapMB.class

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/
